@model IEnumerable<PoyectoCRUD_2_6.Models.Producto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Tipo
            </th>
            <th>
                Precio
            </th>
            <th>
                Borrar
            </th>
            <th>
                Modificar
            </th>
        </tr>

        @foreach (var producto in Model)
        {
            <tr>
                <td>
                    @producto.Id
                </td>
                <td>
                    @producto.Descripcion
                </td>
                <td>
                    @producto.Tipo
                </td>
                <td>
                    @producto.Precio
                </td>
                <td>
                    <a href="/Home/Baja?cod=@producto.Id">borra?</a>
                </td>
                <td>
                    <a href="/Home/Modificacion?cod=@producto.Id">modifica?</a>
                </td>
            </tr>
        }

    </table>
    <a href="/Home/Alta">Agregar</a>
</body>
</html>
